In [1]:
import pandas as pd
import utils
pd.options.display.max_rows = 100000
pd.set_option('display.max_colwidth', -1)

PATH="C:/Users/bdolicki/Documents/Git/multilingual-analysis/code/analysing_predictions/panx"

C:\Users\bdolicki\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [11]:
# we use a sample of 3 languages as an example, but you can use any language that is included in all_langs
all_langs = ['af', 'ar','bn', 'de', 'el', 'en', 'es', 'et', 'eu', 'fa', 'fi', 'fr', 'he', 'hi', 'hu', 'id', 'it', 'ja', 'ka', 'kk', 'ko', 'ml', 'mr', 'ms', 'my', 'nl', 'pt', 'ru', 'sw', 'ta', 'te', 'th', 'tl', 'ur', 'vi', 'zh']
train_langs = ['af', 'ar', 'en']
test_langs = ['af', 'ar', 'en']

In [12]:
from collections import defaultdict

all_examples = defaultdict(dict)

In [13]:
# show most frequently confused POS tags for a language pair, conf is the confusion matrix
def most_confused_pos(conf):
    conf_count = pd.DataFrame()
    conf_count["count"] = conf.sum().sort_values(ascending=False) 
    conf_count["percent"] = conf_count/conf_count.sum()
    print("Most confused POS tags")
    display(conf_count[:5])
    return conf_count
    
# show most frequently confused POS pairs for a language pair, conf is the confusion matrix
def most_confused_pos_pairs(conf):
    sparse_conf_df = conf.reset_index().melt(id_vars="index",var_name="actual",value_name="count").rename(columns={"index":"pred"})
    sparse_conf_df["percent"] = sparse_conf_df["count"]/sparse_conf_df["count"].sum()
    sparse_conf_df = sparse_conf_df.sort_values(by="count",ascending=False)
    print("Most confused POS pairs")
    display(sparse_conf_df.head())

# show top 5 most frequently confused words and how many times each word was assigned a particular POS tag
# useful to see if a word has multiple POS tags or not
# mistakes is the df with mistaken words
def most_mistaken_word_with_tags(mistakes):
    for token in mistakes_df.token.value_counts()[:5].index:
        token_tags = defaultdict(int)
        for i,sentence in enumerate(pa.all_sentences):
            words = sentence.split()
            for j,word in enumerate(words):
                if word==token:
                    tag = pa.all_tags[i].split()[j]
                    token_tags[tag] += 1
        print("Possible tags for the word",token)
        print(dict(token_tags))
        
# show how many times a word was mistaken together with its frequency
def mistaken_words_with_word_freq(pa):
    def is_all(actual, pred=None):
        return True
    all_df, _ = pa.transform_data(is_all,conf_matrix=True)
    relative = pd.DataFrame()
    relative["% mistaken"] = mistakes_df.token.value_counts().divide(all_df.token.value_counts()).sort_values(ascending=False)
    relative["all_count"] = all_df.token.value_counts()
    relative["mistaken_count"] = mistakes_df.token.value_counts()
    relative = relative.dropna()
    print("Relative mistaken word frequency")
    display(relative.sort_values(by="% mistaken",ascending=False).head())

#   show most mistaken words per target language from all source languages
def most_mistaken_words_per_target_func(most_mistaken_words_list):
    print("Most mistaken words per target language from all source languages")
    display(pd.Series(most_mistaken_words_per_target).value_counts()[:5])

#   show most mistaken POS tags per target language from all source languages
def most_mistaken_pos_per_target_func(most_mistaken_pos_list):
    print("Most mistaken POS tags per target language from all source languages")
    display(pd.Series(most_mistaken_pos_per_target).value_counts()[:5])

#   show top 1 mistaken POS tag from all target languages
def top1_mistaken_pos_per_target(most_mistaken_pos_lang):
    print("Top 1 mistaken POS tag for all target languages")
    display(pd.DataFrame.from_dict(most_mistaken_pos_lang))

In [14]:
most_mistaken_pos_lang = {"lang":[],"tag":[]}
mistakes = defaultdict(dict)

for test_lang in test_langs:
#     aggregate most mistaken words/pos tags per target language for all source languages
    most_mistaken_words_per_target = []
    most_mistaken_pos_per_target = []
    print("test",test_lang)
    for train_lang in train_langs:
        print('train',train_lang)
        pa = utils.PredictionsAnalyzer(task="ner")
        ud_pos = pa.read_tag_data(f"{PATH}/dev_sets/dev-{test_lang}.tsv",f"{PATH}/results/dev_{train_lang}_{test_lang}_predictions.txt")
        def is_pred_wrong(actual,pred=None):
            return actual!=pred

        mistakes_df, conf_df = pa.transform_data(is_pred_wrong,conf_matrix=True)
#         store df with mistakes for all language pairs if you want to perform further analysis
#         when running for a big subset of languages it might cause memory issues
        mistakes[train_lang][test_lang] = mistakes_df
        
        conf_count = most_confused_pos(conf_df)
        most_confused_pos_pairs(conf_df)
        most_mistaken_word_with_tags(mistakes_df)
        
        if train_lang==test_lang:
            print("Supervised")
        else:
            print("Zero-shot")

        most_mistaken_words_per_target += list(mistakes_df.token.value_counts()[:2].index)
        most_mistaken_pos_per_target += [conf_count.index[0]]
        
        mistaken_words_with_word_freq(pa)
        
    most_mistaken_words_per_target_func(most_mistaken_words_per_target)
    most_mistaken_pos_per_target_func(most_mistaken_pos_per_target)
    
    most_mistaken_pos_lang["lang"].append(test_lang)
    most_mistaken_pos_lang["tag"].append(pd.Series(most_mistaken_pos_per_target).value_counts().index[0])

test af
train af
Most confused POS tags

       count   percent
O      71.0   0.300847
B-ORG  55.0   0.233051
I-ORG  37.0   0.156780
B-LOC  31.0   0.131356
I-LOC  21.0   0.088983

Most confused POS pairs

     pred actual  count   percent
7   B-LOC  B-ORG  29.0   0.122881
42  B-LOC  O      23.0   0.097458
46  I-ORG  O      21.0   0.088983
1   B-ORG  B-LOC  19.0   0.080508
31  I-LOC  I-ORG  17.0   0.072034

Possible tags for the word van
{'O': 251, 'I-ORG': 59, 'I-LOC': 20, 'I-PER': 38}
Possible tags for the word die
{'O': 551, 'I-ORG': 14, 'I-PER': 6, 'I-LOC': 4}
Possible tags for the word ,
{'O': 460, 'I-PER': 4, 'I-LOC': 10, 'I-ORG': 3}
Possible tags for the word (
{'O': 133, 'I-ORG': 17, 'I-LOC': 6}
Possible tags for the word .
{'O': 520, 'I-PER': 4, 'I-ORG': 4, 'I-LOC': 1}
Supervised
Relative mistaken word frequency

                  % mistaken  all_count  mistaken_count
Еврейская         1.0         1          1.0
Villahermosa]]    1.0         1          1.0
Vigilantia        1.0         1          1.0
2007-Wêreldbeker  1.0         1          1.0
waarnemende       1.0         1          1.0

train ar
Most confused POS tags

       count   percent
B-ORG  240.0  0.233690
I-ORG  215.0  0.209348
O      188.0  0.183057
I-LOC  135.0  0.131451
B-LOC  127.0  0.123661

Most confused POS pairs

     pred actual  count   percent
34  O      I-ORG  166.0  0.161636
13  O      B-ORG  127.0  0.123661
43  B-ORG  O      77.0   0.074976
6   O      B-LOC  70.0   0.068160
25  I-ORG  I-LOC  67.0   0.065239

Possible tags for the word die
{'O': 551, 'I-ORG': 14, 'I-PER': 6, 'I-LOC': 4}
Possible tags for the word AANSTUUR
{'O': 116}
Possible tags for the word van
{'O': 251, 'I-ORG': 59, 'I-LOC': 20, 'I-PER': 38}
Possible tags for the word II
{'I-ORG': 61, 'I-PER': 18}
Possible tags for the word (
{'O': 133, 'I-ORG': 17, 'I-LOC': 6}
Zero-shot
Relative mistaken word frequency

                             % mistaken  all_count  mistaken_count
安徽                           1.0         1          1.0
Tony                         1.0         1          1.0
Streepstert-ghieliemientjie  1.0         1          1.0
Stormsrivier                 1.0         1          1.0
facto                        1.0         1          1.0

train en
Most confused POS tags

       count   percent
O      455.0  0.495643
B-ORG  143.0  0.155773
I-ORG  113.0  0.123094
B-LOC  87.0   0.094771
I-LOC  58.0   0.063181

Most confused POS pairs

     pred actual  count   percent
43  B-ORG  O      159.0  0.173203
46  I-ORG  O      109.0  0.118736
42  B-LOC  O      69.0   0.075163
45  I-LOC  O      64.0   0.069717
31  I-LOC  I-ORG  61.0   0.066449

Possible tags for the word AANSTUUR
{'O': 116}
Possible tags for the word van
{'O': 251, 'I-ORG': 59, 'I-LOC': 20, 'I-PER': 38}
Possible tags for the word )
{'O': 133, 'I-ORG': 17, 'I-LOC': 6}
Possible tags for the word (
{'O': 133, 'I-ORG': 17, 'I-LOC': 6}
Possible tags for the word die
{'O': 551, 'I-ORG': 14, 'I-PER': 6, 'I-LOC': 4}
Zero-shot
Relative mistaken word frequency

                   % mistaken  all_count  mistaken_count
陕西                 1.0         1          1.0
verteenwoordiging  1.0         1          1.0
We                 1.0         1          1.0
Walliese           1.0         1          1.0
Vrede              1.0         1          1.0

Most mistaken words per target language from all source languages

van         2
die         2
AANSTUUR    2
dtype: int64

Most mistaken POS tags per target language from all source languages

O        2
B-ORG    1
dtype: int64

test ar
train af
Most confused POS tags

        count   percent
I-LOC  4539.0  0.345092
I-ORG  2471.0  0.187866
I-PER  1806.0  0.137307
B-LOC  1306.0  0.099293
B-ORG  1174.0  0.089257

Most confused POS pairs

     pred actual   count   percent
27  O      I-LOC  2123.0  0.161408
25  I-ORG  I-LOC  1681.0  0.127804
34  O      I-ORG  1504.0  0.114347
39  I-ORG  I-PER  841.0   0.063940
13  O      B-ORG  640.0   0.048658

Possible tags for the word (
{'I-LOC': 1931, 'I-PER': 214, 'I-ORG': 552, 'O': 774, 'B-LOC': 1}
Possible tags for the word )
{'I-LOC': 1932, 'I-PER': 214, 'I-ORG': 552, 'O': 773}
Possible tags for the word تحويل
{'O': 5058}
Possible tags for the word الدوري
{'I-ORG': 194, 'B-ORG': 30, 'B-LOC': 15, 'I-LOC': 1}
Possible tags for the word لمدارات
{'I-ORG': 194}
Zero-shot
Relative mistaken word frequency

       % mistaken  all_count  mistaken_count
썸      1.0         1          1.0
قرص    1.0         1          1.0
قانون  1.0         1          1.0
نورد   1.0         1          1.0
قاع    1.0         1          1.0

train ar
Most confused POS tags

       count   percent
I-ORG  628.0  0.227454
I-LOC  467.0  0.169142
O      398.0  0.144151
I-PER  387.0  0.140167
B-ORG  386.0  0.139804

Most confused POS pairs

     pred actual  count   percent
25  I-ORG  I-LOC  315.0  0.114089
31  I-LOC  I-ORG  243.0  0.088012
39  I-ORG  I-PER  231.0  0.083665
33  I-PER  I-ORG  217.0  0.078595
7   B-LOC  B-ORG  143.0  0.051793

Possible tags for the word )
{'I-LOC': 1932, 'I-PER': 214, 'I-ORG': 552, 'O': 773}
Possible tags for the word (
{'I-LOC': 1931, 'I-PER': 214, 'I-ORG': 552, 'O': 774, 'B-LOC': 1}
Possible tags for the word في
{'I-ORG': 189, 'O': 796, 'I-LOC': 24, 'I-PER': 26, 'B-ORG': 3, 'B-PER': 1}
Possible tags for the word المتحدة
{'I-ORG': 131, 'I-PER': 18, 'I-LOC': 65}
Possible tags for the word ميزوري
{'I-ORG': 13, 'I-LOC': 36}
Supervised
Relative mistaken word frequency

         % mistaken  all_count  mistaken_count
青森       1.0         1          1.0
باربوزا  1.0         1          1.0
مروحيات  1.0         1          1.0
مروحية   1.0         1          1.0
لله      1.0         1          1.0

train en
Most confused POS tags

        count   percent
I-LOC  5545.0  0.272294
O      4419.0  0.217001
I-PER  2631.0  0.129199
B-LOC  2374.0  0.116578
I-ORG  1908.0  0.093695

Most confused POS pairs

     pred actual   count   percent
25  I-ORG  I-LOC  3484.0  0.171086
43  B-ORG  O      2843.0  0.139609
39  I-ORG  I-PER  1878.0  0.092222
27  O      I-LOC  1657.0  0.081369
4   I-ORG  B-LOC  1275.0  0.062610

Possible tags for the word تحويل
{'O': 5058}
Possible tags for the word (
{'I-LOC': 1931, 'I-PER': 214, 'I-ORG': 552, 'O': 774, 'B-LOC': 1}
Possible tags for the word )
{'I-LOC': 1932, 'I-PER': 214, 'I-ORG': 552, 'O': 773}
Possible tags for the word مقاطعة
{'B-LOC': 306, 'I-LOC': 215, 'B-ORG': 2}
Possible tags for the word الملحق
{'B-ORG': 194}
Zero-shot
Relative mistaken word frequency

         % mistaken  all_count  mistaken_count
썸        1.0         1          1.0
كابوني   1.0         1          1.0
كابرال   1.0         1          1.0
كابتن    1.0         1          1.0
كاباينا  1.0         1          1.0

Most mistaken words per target language from all source languages

(        3
)        2
تحويل    1
dtype: int64

Most mistaken POS tags per target language from all source languages

I-LOC    2
I-ORG    1
dtype: int64

test en
train af
Most confused POS tags

        count   percent
I-ORG  4441.0  0.321742
I-LOC  3414.0  0.247338
I-PER  1821.0  0.131928
B-ORG  1592.0  0.115337
B-LOC  1181.0  0.085561

Most confused POS pairs

     pred actual   count   percent
34  O      I-ORG  2889.0  0.209302
27  O      I-LOC  1362.0  0.098674
25  I-ORG  I-LOC  1326.0  0.096066
41  O      I-PER  1000.0  0.072448
13  O      B-ORG  851.0   0.061653

Possible tags for the word ,
{'I-LOC': 938, 'I-PER': 301, 'O': 3293, 'I-ORG': 262, 'B-LOC': 99, 'B-ORG': 8, 'B-PER': 7}
Possible tags for the word of
{'I-PER': 291, 'I-ORG': 706, 'O': 575, 'I-LOC': 254, 'B-ORG': 5, 'B-PER': 6, 'B-LOC': 1}
Possible tags for the word )
{'O': 1991, 'I-ORG': 341, 'I-PER': 171, 'I-LOC': 133, 'B-ORG': 5, 'B-LOC': 3, 'B-PER': 1}
Possible tags for the word (
{'O': 1981, 'I-ORG': 338, 'I-PER': 194, 'I-LOC': 132, 'B-LOC': 6, 'B-ORG': 9}
Possible tags for the word the
{'O': 1198, 'I-ORG': 204, 'I-PER': 63, 'I-LOC': 102, 'B-PER': 1, 'B-ORG': 1}
Zero-shot
Relative mistaken word frequency

            % mistaken  all_count  mistaken_count
태양을         1.0         1          1.0
13th        1.0         1          1.0
''Hellsing  1.0         1          1.0
wolf        1.0         1          1.0
''Love      1.0         1          1.0

train ar
Most confused POS tags

        count   percent
I-ORG  5657.0  0.317934
I-LOC  4458.0  0.250548
I-PER  2342.0  0.131625
B-ORG  2277.0  0.127972
B-LOC  1716.0  0.096442

Most confused POS pairs

   pred actual   count   percent
34  O    I-ORG  4646.0  0.261114
27  O    I-LOC  2758.0  0.155005
41  O    I-PER  1731.0  0.097285
13  O    B-ORG  1617.0  0.090878
6   O    B-LOC  1274.0  0.071601

Possible tags for the word ,
{'I-LOC': 938, 'I-PER': 301, 'O': 3293, 'I-ORG': 262, 'B-LOC': 99, 'B-ORG': 8, 'B-PER': 7}
Possible tags for the word of
{'I-PER': 291, 'I-ORG': 706, 'O': 575, 'I-LOC': 254, 'B-ORG': 5, 'B-PER': 6, 'B-LOC': 1}
Possible tags for the word )
{'O': 1991, 'I-ORG': 341, 'I-PER': 171, 'I-LOC': 133, 'B-ORG': 5, 'B-LOC': 3, 'B-PER': 1}
Possible tags for the word (
{'O': 1981, 'I-ORG': 338, 'I-PER': 194, 'I-LOC': 132, 'B-LOC': 6, 'B-ORG': 9}
Possible tags for the word the
{'O': 1198, 'I-ORG': 204, 'I-PER': 63, 'I-LOC': 102, 'B-PER': 1, 'B-ORG': 1}
Zero-shot
Relative mistaken word frequency

              % mistaken  all_count  mistaken_count
후아유           1.0         1          1.0
progression   1.0         1          1.0
zelotypa      1.0         1          1.0
young         1.0         1          1.0
yellow-black  1.0         1          1.0

train en
Most confused POS tags

        count   percent
I-ORG  1517.0  0.284029
I-LOC  870.0   0.162891
B-ORG  843.0   0.157836
I-PER  657.0   0.123011
O      634.0   0.118704

Most confused POS pairs

     pred actual  count   percent
25  I-ORG  I-LOC  642.0  0.120202
31  I-LOC  I-ORG  567.0  0.106160
33  I-PER  I-ORG  528.0  0.098858
39  I-ORG  I-PER  492.0  0.092118
7   B-LOC  B-ORG  334.0  0.062535

Possible tags for the word ,
{'I-LOC': 938, 'I-PER': 301, 'O': 3293, 'I-ORG': 262, 'B-LOC': 99, 'B-ORG': 8, 'B-PER': 7}
Possible tags for the word of
{'I-PER': 291, 'I-ORG': 706, 'O': 575, 'I-LOC': 254, 'B-ORG': 5, 'B-PER': 6, 'B-LOC': 1}
Possible tags for the word )
{'O': 1991, 'I-ORG': 341, 'I-PER': 171, 'I-LOC': 133, 'B-ORG': 5, 'B-LOC': 3, 'B-PER': 1}
Possible tags for the word (
{'O': 1981, 'I-ORG': 338, 'I-PER': 194, 'I-LOC': 132, 'B-LOC': 6, 'B-ORG': 9}
Possible tags for the word the
{'O': 1198, 'I-ORG': 204, 'I-PER': 63, 'I-LOC': 102, 'B-PER': 1, 'B-ORG': 1}
Supervised
Relative mistaken word frequency

            % mistaken  all_count  mistaken_count
피하는         1.0         1          1.0
Wheeler     1.0         1          1.0
Surveyor    1.0         1          1.0
ramidus     1.0         1          1.0
Swinnerton  1.0         1          1.0

Most mistaken words per target language from all source languages

,     3
of    3
dtype: int64

Most mistaken POS tags per target language from all source languages

I-ORG    3
dtype: int64

In [15]:
top1_mistaken_pos_per_target(most_mistaken_pos_lang)

Top 1 mistaken POS tag for all target languages

  lang    tag
0  af   O
1  ar   I-LOC
2  en   I-ORG

## Further analysis
We can use stored tables to zoom in on particular language pairs. Here we look at the predictions when Afrikaan was the source language and English was the target language.

In [19]:
mistakes_df = mistakes['af']['en']
# show examples when I-ORG was the actual tag
mistakes_df[mistakes_df['actual']=='I-ORG'].head()

,predicted,actual,token,sentence,actual_tokens
6,O,I-ORG,Red,Fairground]] '' by Simply Red '' Bad Romance '' by Lady Gaga,O O O B-ORG I-ORG O B-ORG I-ORG O O B-PER I-PER
8,O,I-ORG,Romance,Fairground]] '' by Simply Red '' Bad Romance '' by Lady Gaga,O O O B-ORG I-ORG O B-ORG I-ORG O O B-PER I-PER
17,O,I-ORG,(,Parodius ( series ),B-ORG I-ORG I-ORG I-ORG
18,O,I-ORG,series,Parodius ( series ),B-ORG I-ORG I-ORG I-ORG
19,O,I-ORG,),Parodius ( series ),B-ORG I-ORG I-ORG I-ORG